*
{
	box-sizing: border-box;
	/*display: block;*/
	color: #dbd8a2;
}

title
{
	display: none;
}

body 
{
	background-color: #2c2c2d;
}

a.projectLink
{
	font-size: 4em;
}

select 
{
	width: 15em;
	background-color: black;
	margin-left:1em;
	margin-right:2em;
	margin-bottom:1em;
}

div.left 
{
	float: left;
	width: 25%;
}

div.right
{
	float:right;
	width: 25%;
}

div.content
{
	width: 50%;
	display: inline-block;
}

input
{
	margin-left:1.1em;
	width:82.4%;
	background-color:#2c2c2d;
	border-color:#cfd0d1;
}