body
{
	padding: 0;
	background-color: #1447ff;
	margin: 0 auto;
	text-align: center;
	color: white;
}

#board>button
{
	margin-top: 1em;
}

#screen
{
	margin: 0 auto;
	width: 75vw;
	height: 75vh;
	border: 5px solid black;
	margin-top: 1em;
}

#screenSpan
{
	position: relative;
	top: 25%;
	text-transform: translateY(-50%);
	font-size: 40px;
}

#controls
{
	margin-top: .5em;
	margin-bottom: .5em;
}

#gameScreen>header, #gameScreen>footer
{
	background-color: #3a65ff;
	font-size: 1.5em;
	text-align: center;
}

#gameScreen>footer
{
	margin-top: .5em;
}

table button
{
	width:inline-table;
	height: inline-table;
	background-color: inherit;
	border: none;
	color: inherit;
	font-size: inherit;
}

table, th, td 
{
	visibility: hidden;
	border: 4px solid black;
	border-collapse: collapse;
}

table
{
	margin: 0 auto;
	margin-top: 1em;
	width: 75%;
}

th, td
{
	height: 7em;
	width: 15%;
	text-align: center;
	font-size: 1.2em;
	color: white;
}

#showAnswer, #correct, #wrong
{
	display: none;
}

#score, #scoreLabel
{
	text-align: center;
	margin: 0 auto;
	margin-top: 1em;
	font-size: 1.3em;
	margin-left: 5px;
}

#score
{
	border: 2px solid black;
	width: 2em;
}