.box {
	background-color: cyan;
	width: 150px;
	height: 450px;
	margin: 0 auto;
	position: relative;
	margin-top: 12.5%;
}

#sOn {
	color: white;
	background-color: red;
	width: 75px;
	height: 225px;
	position:absolute;
	margin: 0 auto;
	left: 25%;
	top:0;
	visibility: visible;
}

#sOff {
	color: white;
	background-color: red;
	width: 75px;
	height: 225px;
	position:absolute;
	margin: 0 auto;
	left: 25%;
	bottom:0;
	visibility:hidden;

}

p {
	position: relative;
	float: left;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	}